body {
    /*height: 150%;*/
    background: url('/resources/pictures/jordan-mixson-UpdR5OaUJl0-unsplash.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:#fff;
    background-color:#333;
    font-family: Michroma, sans-serif;
    padding-bottom: 40px;
}

/*========== HEADER =======================*/

header {
    background: black;
    margin-bottom: 70px;
}

h1 {
    color: white;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 25px;
    border-bottom: 1px solid white;

}

.my-form h1 {
    color:black;
    border-bottom: 1px solid black;
}


.logo button {
    width: 140px;
    height: 140px;
    border-radius: 20%;
    background: rgba(240, 0, 0, 1);
    margin-top: 35px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.logo i {
    font-size: 70px;
    color: white;
    text-shadow: 2px 2px 15px black;
}

.logo .musicsite {
    font-size: 24px;
    left: 50%;
    text-align: center;
    margin-top: 5px;
    font-weight: bold;
}

.musicsite-music {
    color: red;
}

.musicsite-site {
    color: white;
}

.musicsite-elem-parent {
    width: 130px;
    height: 30px;
    border-radius: 10%;
    background-color: black;
    margin: 0 auto 10px;
}

.musicsite-elem {
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
    font-weight: bold;
}

.music-side {
    font-size: 14px;
    left: 50%;
    text-align: center;
    margin-top: 10px;
}

#highlighted-elem {
    background-color: rgb(237, 237, 0);
}

#highlighted-elem a {
    color: black;
}

/*========== FORMS =======================*/

.my-form {
    background-color: rgb(237, 237, 237);
    width: 600px;
    text-align: center;
    padding-bottom: 40px;
}

.my-form h1 {
    padding-top: 25px;
    margin-bottom: 30px;
}

.my-form p#register-link {
    margin-right: 10px;
    text-align: right;
    font-size: 14px;
}

.error {
    color: red;
    font-size: 15px;
}

.success {
    color: rgb(0, 196, 0);
    font-size: 15px;
}

.form-information {
    color: rgb(0, 0, 204);
    font-size: 14px;
}

/*========== USER OPTIONS =======================*/

.logout {
    right: 5px;
    top: 5px;
    z-index: 1000;
    position: absolute;
}

.logout i {
    font-size: 24px;
    margin-right: 10px;
}

/*========== HOME PAGE =======================*/

#carouselExampleControls {
    text-align: center;
}

.refresh-button {
    margin-top: 10px;
    text-align: center;
}

/*========== PAGE NOT FOUND =======================*/

.page-not-found {
    width: 600px;
    border: 4px solid rgb(237, 237, 237);
    border-radius: 7%;
    margin: 30px auto 0;

}

.page-not-found i {
    margin: 30px;
    font-size: 100px;
    color: rgb(237, 237, 237);
    float: left;

}

.page-not-found div {
    margin-left: 100px;
    margin-bottom: 50px;
}

.page-not-found h1 {
    font-size: 35px;
    margin-bottom: 15px;
    color: rgb(237, 237, 237);
}

.page-not-found span {
    margin-left: 50px;
    font-size: 25px;
    color: rgb(237, 237, 237);
}

/*========== MAIN PAGES =======================*/

.ens-page {
    width: 900px;
    margin: 30px auto 0;
    opacity: 0.9;
}

.ens-top {
    padding-top: 50px;
    padding-bottom: 40px;
    margin-bottom: 20px;
    opacity: 1;
    color: black;
}


.ens-image {
    text-align: center;
    margin-left: 40px;
    width: 150px;
    height: 180px;
    border: 1px solid black;
}

.ens-image i {
    font-size: 120px;
    margin-top: 30px;
    color: black;
    opacity: 0.8;
    top: 35px;
}

i.track-icon {
    font-size: 90px;
    margin-top: 40px;
}

.ens-name {
    font-size: 40px;
    color: black;
    font-weight: bold;
    margin-left: 20px;
}

.ens-user-rating{
    font-size: 30px;
}

.small-inf {
    font-size: 16px;
    margin-bottom: 10px;
    font-style: italic;
    margin-left: 120px;
}

.ens-average {
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 35px;
    margin-right: 60px;
}

.ens-average div {
    margin-top: 15px;
}

.ens-categories {
    font-size: 15px;
}

.ens-categories span {
    padding-left: 10px;
    padding-right: 10px;
}

.empty-track-list {
    font-size: 20px;
    color: black;
    margin-left: 20px;
    margin-top: 20px;
}

.ens-performer {
    color:white;
    font-size: 25px;
    margin-left: 10px;
    width: 370px;
}

.ens-performer a {
    font-style: italic;
}

a:hover {
    text-decoration: none
}



.tune {
    padding-right: 10px;
    left: 10px;
}




.comments-h2 {
    margin-top: 25px;
    margin-left: 30px;
}

.comment-area {
    margin-bottom: 70px;
}

.comment-area form,
.comment-area .comment-div{
    width: 700px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.comment-div {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 20px;
}

.content {
    margin-top: 20px;
    text-align: right;
}



.comment-username {
    text-align: right;
    bottom: 5px;
    padding-bottom: 10px;
}


.track-list {
    margin-left: 60px;
}


.track-list li {
    font-size: 20px;
}

.track-list li:hover {
    font-size: 20px;
}

.performers-track-album {
    font-size: 14px;
    margin-left: 30px
}

.ens-page-categories{
    clear: left;
    color: white;
    margin-left: 220px;
    margin-bottom: 10px;
}

.ens-mid {
    border: 1px solid rgb(237, 237, 237);
    padding-bottom: 35px;
    margin-bottom: 20px;
}

.ens-mid .related-enta {
    margin-left: 40px;
    margin-top: 40px;
    width: 820px;
}

.ens-mid .related-enta a {
    width: 80px;
    text-align: center;
    top: 50%;
    left: 50%;
    font-size: 15px;
}

#nav-profile {
    color: white;
    font-size: 50px;
}


.ranking-page {
    border: 1px solid rgb(237, 237, 237);
    width: 900px;
    height: 100%;
    margin: 30px auto 0;
    color: white;
}

h1.ranking-ens-type {
    margin-left: 30px;
    font-size: 50px;
    color: white;
}

p.no-data {
    color: white;
    margin-left: 60px;
    font-size: 20px;
    font-style: italic;
}

.ranking {
    color:white;
    background-color: grey;
}

.ranking-ens-average {
    width: 60px;
}

.ranking-ens-average div {
    font-size: 40px;
    color: black;
    border-radius: 35%;
    width: 75px;
    height: 65px;
    background-color: yellow;
    text-align: center;
    padding-top: 10px;
}

.admin-column {
    width: 100px;
}

.ranking-ens-name a {
    font-size: 20px;
    color: black;
}

.ranking-ordering-num {
    width: 50px;
}

.ranking-ordering-num div{
    font-size: 30px;
}


.form-check{
    margin-right: 10px;
}


.categories-form {
    color: white;
    margin-left: 30px;
    margin-right: 30px;
}


.rankings-content {
    color:white;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
}

.categories-ens-details {
    margin-top: 20px;
    color: aqua;
}

.categories-ens-category {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 2px;
    margin-right: 2px;
}

.category-list {
    padding: 10px;
}

.propositions-table {
    width: 820px;
    margin: 70px auto 0;
}

.propositions-table th{
    color: white;
}

.propositions-table td{
    color: chocolate;
}

.propositions-heading {
    color: white;
    font-size: 17px;
}

.album-tracks {
    color:white;
    margin: 50px
}

.album-tracks h2 {
    margin: 50px
}

.ranking-rate {
    width: 70px;
    height: 70px;
    font-size: 30px;
    text-align: center;
}

.ranking-rate div {
    margin-top: 20px;
    text-align: center;
}

