header {
    background: black;
    position: relative;
    height: 370px;
    border-bottom: 2px solid white;
}

.logo button {
    width: 140px;
    height: 140px;
    border-radius: 20%;
    background: rgba(240, 0, 0, 1);
    margin-top: 35px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.logo i {
    font-size: 70px;
    color: white;
    text-shadow: 2px 2px 15px black;
}

.logo .musicsite {
    font-size: 24px;
    left: 50%;
    text-align: center;
    margin-top: 5px;
    font-weight: bold;
}

.musicsite-music {
    color: red;
}

.musicsite-site {
    color: white;
}

.music-side {
    font-size: 14px;
    left: 50%;
    text-align: center;
    margin-top: 10px;
}

.searcher {

    margin: 0 auto;
    width: 450px;
}

.searcher input {
    margin: 0 auto;
    font-size: 15px;
}

.searcher button {
    width: 100px;
    height: 32px;
    font-size: 16px;
    color: rgb(237, 237, 0);
    border: 1px solid rgb(237, 237, 0);
}

.menu {
    position: relative;
    bottom: 0;
    left: 50%;
    margin-top: 32px;
    margin-right: -50%;
    transform: translate(-50%);
    background-color: black;
    border-color: grey;
    border-radius: 3%;
}

.menu div {
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
}

.menu div li {
    padding-right: 10px;
    padding-left: 10px;
}

.menu a {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 2px white;
}

.menu li:hover {
    background-color: rgb(77, 77, 77);
}

#highlighted-elem {
    background-color: rgb(237, 237, 0);
}

#highlighted-elem a {
    color: black;
    font-weight: bold;
    text-shadow: 0 0 1px black;
}

h1 {
    margin-top: 40px;
    margin-bottom: 50px;
}

.login-form,
.register-form {
    background-color: rgb(237, 237, 237);
    width: 600px;
    position: relative;
    font-size: 16px;
    text-align: center;
    margin-top: 50px;
}

.login-form {
    height: 440px;
}

.login-form span {
    color: rgb(0, 0, 204);
}

input {
    background: #ffffff;
    padding: 8px;
    width: 500px;
    box-sizing: border-box;
    border: 1px solid #000000;
    margin-bottom: 10px;
    line-height: 25px;
}

body {
    height: 150%;
    background-color: black;
    /*background-color: rgb(229,255,204);*/
    font-family: Michroma, sans-serif;
}

.error {
    color: red;
    font-size: 15px;
}

.success {
    color: rgb(0, 196, 0);
    font-size: 15px;
}

.form-information {
    color: rgb(0, 0, 204);
    font-size: 14px;
}

.logout {
    border: 1px solid white;
    color: white;
    right: 5px;
    top: 5px;
    z-index: 1000;
    position: absolute;
    width: 150px;
    height: 45px;
    background-color: black;
    font-size: 20px;
    font-weight: bold;
    border-radius: 7%;
}

.logout i {
    font-size: 24px;
    margin-right: 10px;
}

.dashboard {
    background-color: black;
    z-index: 1000;
    width: 230px;
    height: 160%;
    font-weight: bold;
    position: absolute;

}

.dashboard .add-options {
    margin-top: 100px;
    margin-left: 50px;

    position: fixed;
}

.dashboard h2 {
    color: rgb(184, 184, 184);

    font-size: 30px;
}

.dashboard a {
    color: white;
    font-size: 20px;
    margin-left: 25px;

}

.dashboard a:hover {
    color: rgb(237, 237, 0);
}

.admin {
    border: 1px solid rgb(184, 184, 184);
}

.admin:hover {
    border: 1px solid rgb(237, 237, 0);
}

.page-not-found {
    width: 600px;
    border: 4px solid rgb(237, 237, 237);
    border-radius: 7%;
    margin: 30px auto 0;

}

.page-not-found i {
    margin: 30px;
    font-size: 100px;
    color: rgb(237, 237, 237);
    float: left;

}

.page-not-found div {
    margin-top: 10px;
    margin-left: 100px;
    margin-bottom: 50px;
}

.page-not-found h1 {
    font-size: 35px;
    margin-bottom: 15px;
    color: rgb(237, 237, 237);
}

.page-not-found span {
    margin-left: 50px;
    font-size: 25px;
    color: rgb(237, 237, 237);
}

.ens-page {
    border: 1px solid rgb(237, 237, 237);
    width: 900px;
    height: 100%;
    margin: 30px auto 0;
}

.ens-top {
    border: 1px solid rgb(237, 237, 237);
    margin-top: 40px;
}

.ens-image {
    text-align: center;
    margin-left: 40px;
    width: 150px;
    height: 180px;
    border: 1px solid rgb(237, 237, 237);
    float: left;
}

.ens-image i {
    font-size: 120px;
    bottom: 2px;
    color: rgb(237, 237, 237);
    top: 35px;
}

.ens-basic-information {
    border: 1px solid rgb(237, 237, 237);
    float: left;
    margin-left: 30px;
}

.ens-basic-information .ens-name {
    font-size: 40px;
    color: rgb(237, 237, 237);
    font-weight: bold;
    border: 1px solid rgb(237, 237, 237);
}

.ens-basic-information .ratings {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 20px;
    border: 1px solid rgb(237, 237, 237);
}

.ens-basic-information .ratings a {
    color: rgb(237, 237, 0);
}

.ens-basic-information .ratings a:hover {
    color: rgb(240, 0, 0);
}

.small-inf {
    font-size: 12px;
    font-weight: bold;
    color: rgb(230, 8, 8);
    margin-bottom: 10px;
}

.tune {
    padding-right: 10px;
    left: 10px;
}


.ens-average {
    border: 1px solid rgb(237, 237, 237);
    float: right;
    width: 110px;
    height: 120px;
    margin-top: 30px;
    margin-right: 70px;
    text-align: center;

}

.ens-average p {
    margin-top: 20px;
    white-space: nowrap;
    color: white;
    font-size: 50px;
}

.ens-mid {
    border: 1px solid rgb(237, 237, 237);
    clear: left;
}

.ens-mid .related-enta {
    border: 1px solid rgb(237, 237, 237);
    margin-left: 40px;
    margin-top: 40px;
    width: 820px;
    height: 400px;
    float: left;
}

.ens-mid .related-enta a {
    width: 80px;
    height: 40px;
    text-align: center;
    top: 50%;
    left: 50%;
    font-size: 15px;
}

#nav-profile {
    color: white;
    font-size: 50px;
}


.ranking-page {
    border: 1px solid rgb(237, 237, 237);
    width: 900px;
    height: 100%;
    margin: 30px auto 0;
    color: white;
}

h1.ranking-ens-type {
    margin-left: 30px;
    font-size: 50px;
}

p.no-data {
    margin-left: 60px;
    font-size: 20px;
    font-style: italic;
}

.ranking {
    color:white;
    background-color: grey;
}

.ranking-ens-average {
    width: 60px;
}

.ranking-ens-average div {
    font-size: 40px;
    color: black;
    border-radius: 35%;
    width: 75px;
    height: 65px;
    background-color: yellow;
    text-align: center;
    padding-top: 10px;
}

button.admin-options {
    width: 80px;
    color: black;
    background-color: yellow;
    border: 1px solid white;
    margin-top: 10px;
    margin-down: 10px;
}

.admin-column {
    width: 100px;
}

.ranking-ens-name a {
    font-size: 20px;
    color: black;
}

.ranking-ordering-num {
    width: 50px;
}

.ranking-ordering-num div{
    font-size: 30px;
}

h1.categories {
    color: white;
    font-size: 50px;
    text-align: center;
    border-bottom: 1px solid white;

}

h5.categories {
    color: white;
    margin-right: 50px;
    text-align: right;
    font-weight: bolder;
}

.category-checkbox {
    width: 50px;
}

.category-selection {
    color: white;
    margin-left: 20px;
    margin-right: 20px;
}

.categories-show-content {
    background-color: black;
    color: white;
    border: 1px solid white;
    width: 100px;
    height: 50px;
    float: left;
}

.categories-checkboxes {
    float: left;
}

hr.horizontal-line {
    border: 3px solid white;
    border-radius: 5px;
}